<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題④</title>
    <meta name="description" content="Node.js課題④">
    <script src="/js/users.js"></script>
</head>
<body>
    <header>
        <nav>
            <div id="nav">
                Node.js Lesson4
                <a align="right" id="viewPosts" href="http://localhost:3000/posts/viewPosts">みんなの投稿</a>
                <a align="right" id="viewCreate" href="http://localhost:3000/posts/viewCreate">投稿を作成</a>
                <a align="right" id="viewLogin" href="http://localhost:3000/users/viewLogin">Login</a>
                <a align="right" id="viewRegister" href="http://localhost:3000/users/viewRegister">Register</a>
            </div>
        </nav>
    </header>
    <div>