<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Node.js課題④</title>
    <meta name="description" content="Node.js課題④">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/js/posts.js"></script>
</head>
<body>
    <header>
        <nav>
            <div id="nav">
                Node.js Lesson4
                <!-- <a align="right" id="viewPosts" href="">みんなの投稿</a> -->
                <button type="button" id="postsBtn">みんなの投稿</button>
                <a align="right" id="viewCreate" href="">投稿を作成</a>
                <ul align="right" >
                    <li class="item"><a id="logout1" href="#"></a>
                       <ul class="child">
                           <li><a id="logout2" href="">logout</a></li>
                       </ul>
                   </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>